.container
  .page-header
    %h1.page-title Teams
  .row
    .col-md-6.col-lg-4
      .list-group
        - GitlabInsights::ACTIVE_TEAMS.each do |team|
          - if @project
            = link_to team, group_project_team_path(@group.path, @project.path, team), class: 'list-group-item'
          - else
            = link_to team, group_team_path(@group.path, team), class: 'list-group-item'
