%p
  = succeed '.' do
    Throughputs charts have since been migrated to Sisense. Please find throughputs charts
    = link_to 'here', 'https://app.periscopedata.com/app/gitlab/570334/Universal-Engineering-Team-Metrics-Dashboard'
