= render partial: 'shared/average_mrs_per_month', locals: { source: @group }
= render partial: 'shared/project_level_links', locals: { group: @group, name: 'average mrs merged per author per month', link: method(:group_project_average_mrs_per_month_path) }
