= render partial: 'shared/average_mrs_per_milestone', locals: { source: @group }
= render partial: 'shared/project_level_links', locals: { group: @group, name: 'average mrs merged per author per milestone', link: method(:group_project_average_mrs_per_milestone_path) }
