= render partial: 'shared/bugs_by_severity', locals: { source: @group }
= render partial: 'shared/project_level_links', locals: { group: @group, name: 'bugs by severity', link: method(:group_project_bugs_by_severity_path) }
