= render partial: 'shared/bugs_past_slo', locals: { source: @group }
= render partial: 'shared/project_level_links', locals: { group: @group, name: 'bugs past slo', link: method(:group_project_bugs_past_slo_path) }
