= render partial: 'shared/completed_deliverables_per_milestone', locals: { source: @group }
= render partial: 'shared/project_level_links', locals: { group: @group, name: 'completed deliverables per milestone', link: method(:group_project_completed_deliverables_per_milestone_path) }
