= render partial: 'shared/feature_proposals_by_team', locals: { source: @group }
= render partial: 'shared/project_level_links', locals: { group: @group, name: 'feature proposals by team', link: method(:group_project_feature_proposals_by_team_path) }
