= render partial: 'shared/mrs_by_state', locals: { source: @group }
= render partial: 'shared/project_level_links', locals: { group: @group, name: 'merge requests by state', link: method(:group_project_mrs_by_state_path) }
