= render partial: 'shared/throughputs', locals: { source: @group }
= render partial: 'shared/project_level_links', locals: { group: @group, name: 'throughputs', link: method(:group_project_throughputs_path) }

