.container
  .page-header
    %h1.page-title= "Dashboard: #{source.path}"
  .page-header
    %h2.page-title Average MRs Merged Per Author Per Month Charts
  %p
    Note: Bars in
    %span{ style: "background-color: #{GitlabInsights::COLOR_SCHEME[:apricot]}" }= GitlabInsights::COLOR_SCHEME[:apricot]
    indicate the current month
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Average MRs Merged Per Author Per Month (GitLab only, excluding Community Contributions)
        .card-body
          %canvas#average-mrs-month-team
        .card-body
          %div
            %div.text-wrap
              %p Chart to display the average number of merge requests per author that have been merged in a month. Only MRs without the `Community contribution` label will be considered. At the monthly level, we go back 24 months (2 year period)
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Average MRs Merged Per Author Per Month (Including Community Contributions)
        .card-body
          %canvas#average-mrs-month-all
        .card-body
          %div
            %div.text-wrap
              %p Chart to display the average number of merge requests per author that have been merged in a month. At the monthly level, we go back 24 months (2 year period)

