.container
  .page-header
    %h1.page-title= "Dashboard: #{source.path}"
  .page-header
    %h2.page-title Bugs By Priority
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Cumulative open bugs by priority
        .card-body
          %div
            %div.text-wrap
              = render 'notices/bug_dashboards_moved'
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Open bugs by create month/priority
        .card-body
          %div
            %div.text-wrap
              = render 'notices/bug_dashboards_moved'
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Closed bugs by month/priority
        .card-body
          %div
            %div.text-wrap
              = render 'notices/bug_dashboards_moved'
