.container
  .page-header
    %h1.page-title= "Dashboard: #{source.path}"
  .page-header
    %h2.page-title Bugs By Severity
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Cumulative Open bugs by Severity
        .card-body
          %div
            %div.text-wrap
              = render 'notices/bug_dashboards_moved'
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Open bugs by Severity
        .card-body
          %div
            %div.text-wrap
              = render 'notices/bug_dashboards_moved'
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Closed bugs by Severity
        .card-body
          %div
            %div.text-wrap
              = render 'notices/bug_dashboards_moved'
