.container
  .page-header
    %h1.page-title= "Dashboard: #{source.path}"
  .page-header
    %h2.page-title Bugs By Stage
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Cumulative Bugs Created Per Month Per Stage
        .card-body
          %div
            %div.text-wrap
              = render 'notices/bug_dashboards_moved'
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Bugs Created Per Month Per Stage
        .card-body
          %div
            %div.text-wrap
              = render 'notices/bug_dashboards_moved'
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Bugs Closed Per Month Per Stage
        .card-body
          %div
            %div.text-wrap
              = render 'notices/bug_dashboards_moved'
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Bugs Created Per Day Per Stage
        .card-body
          %div
            %div.text-wrap
              = render 'notices/bug_dashboards_moved'
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Bugs Closed Per Day Per Stage
        .card-body
          %div
            %div.text-wrap
              = render 'notices/bug_dashboards_moved'
