.container
  .page-header
    %h1.page-title= "Dashboard: #{source.path}"
  .page-header
    %h2.page-title Bugs By Team
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Open Bugs Past SLO
        .card-body
          %canvas#open-bugs-past-slo
        .card-body
          %div
            %div.text-wrap
              %p Displays number of open bugs with the `missed-SLO` label. Label will automatically be applied by the rule introduced #{link_to 'here', 'https://gitlab.com/gitlab-org/quality/triage-ops/merge_requests/125'}
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Open Customer Bugs Past SLO
        .card-body
          %canvas#open-customer-bugs-past-slo
        .card-body
          %div
            %div.text-wrap
              %p Displays number of open customer bugs with the `missed-SLO` label. Label will automatically be applied by the rule introduced #{link_to 'here', 'https://gitlab.com/gitlab-org/quality/triage-ops/merge_requests/125'}
