.container
  .page-header
    %h1.page-title= "Dashboard: #{source.path}"
  .page-header
    %h2.page-title EXPERIMENTAL - Completed Deliverables vs non-Deliverables Per Milestone
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Completed Deliverable vs non-Deliverable Issues Per Milestone
        .card-body
          %canvas#completed-deliverables-per-milestone
        .card-body
          %div
            %div.text-wrap
              %p Displays number of closed issues with vs without the `Deliverable` label grouped by their milestone.
