.container
  .page-header
    %h1.page-title= "Dashboard: #{source.path}"
  .page-header
    %h2.page-title MRs Merged Per Month
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title MRs Merged Per Month with Rolling Average (GitLab only, excluding Community Contributions)
        .card-body
          %canvas#merged-mrs-per-month-no-comm
        .card-body
          %div
            %div.text-wrap
              %p Displays number of merged MRs per month without community contributions
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title MRs Merged Per Month with Rolling Average (Including Community Contributions)
        .card-body
          %canvas#merged-mrs-per-month-with-avg
        .card-body
          %div
            %div.text-wrap
              %p Displays number of merged MRs per month with community contributions

