.container
  .page-header
    %h1.page-title= "Dashboard: #{source.path}"
  .page-header
    %h2.page-title EXPERIMENTAL - Merge Requests by State
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title MRs Opened vs Merged vs Closed per Month
        .card-body
          %canvas#monthly-merge-requests-per-state
        .card-body
          %div
            %div.text-wrap
              %p Displays number of merge requests opened, merged and closed each month
