- id = local_assigns.fetch(:id, nil)

.container
  .row.row-cards
    .col-lg-12
      %h3.page-title Group views
      %p This is a group view. It combines the data available for nested projects listed below. Some of these projects will be navigable, some may be hidden from view. This depends on where they were imported from. If you have any questions please raise them in #quality-insights channel.
  .row.row-cards
    .col-lg-12
      %h3.page-title Associated project-level views
      .list-group
        - group.projects.listable.each do |project|
          = link_to "#{project.path} #{name}", link.call(group.path, project.path, id), class: 'list-group-item'
