.container
  .page-header
    %h1.page-title= "Dashboard: #{source.path}"
  .page-header
    %h2.page-title Merge Request Throughputs
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Throughputs Per Week
        .card-body
          %canvas#throughputs-per-week
        .card-body
          %div
            %div.text-wrap
              %p Displays number of merged MRs per week grouped by MR categories. These MRs could have been merged to any branch, not only `master`. The date used to place in a period is the date that the MR was actually merged. At the weekly level, we go back 12 weeks (1 quarter period)
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Throughputs Per Month
        .card-body
          %canvas#throughputs-per-month
        .card-body
          %div
            %div.text-wrap
              %p Displays number of merged MRs per month grouped by MR categories. These MRs could have been merged to any branch, not only `master`. The date used to place in a period is the date that the MR was actually merged. At the monthly level, we go back 24 months (2 year period)
