.container
  .page-header
    %h1.page-title= "Dashboard: #{source.path}"
  .page-header
    %h2.page-title Time to Close Bugs
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Time to Close bugs (all bugs)
        .card-body
          %div
            %div.text-wrap
              = render 'notices/bug_dashboards_moved'
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Time to Close bugs (severity::1)
        .card-body
          %div
            %div.text-wrap
              = render 'notices/bug_dashboards_moved'
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Time to Close bugs (severity::2)
        .card-body
          %div
            %div.text-wrap
              = render 'notices/bug_dashboards_moved'
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Time to Close bugs (severity::1 and Customer)
        .card-body
          %div
            %div.text-wrap
              = render 'notices/bug_dashboards_moved'
  .row.row-cards
    .col-lg-12
      .card
        .card-header
          %h3.card-title Time to Close bugs (severity::2 and Customer)
        .card-body
          %div
            %div.text-wrap
              = render 'notices/bug_dashboards_moved'
