- section = local_assigns.fetch(:section)
- group = local_assigns.fetch(:group)
- project = local_assigns.fetch(:project, nil)

- section.each do |stage, devops_groups|
  - if project
    = link_to(stage, group_project_stage_path(group.path, project.path, stage), class: 'page-title')
    .list-group
      - devops_groups.each do |devops_group|
        %li.list-group-item= link_to(devops_group, group_project_section_path(group.path, project.path, devops_group.gsub(' ', '_')))
  - else
    = link_to(stage, group_stage_path(group.path, stage), class: 'page-title')
    .list-group
      - devops_groups.each do |devops_group|
        %li.list-group-item= link_to(devops_group, group_section_path(group.path, devops_group.gsub(' ', '_')))
